.nav{
    position:relative;
    width:100%;
    height:100px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.nav div {
    margin-right:20px;
}

.box {
    position: relative;
    height:75vh;
    display:flex;
    align-items: center;
    justify-content: center;
}

.box div{
    margin-bottom:10px;
}

.item {
    text-align: center;
}

.logo {
    width: 150px;
    margin-bottom: 50px;
}

.footer {
    text-align: center;
}

.btn_w {
    margin-left:20px;
    background-color:white;
    width:80px;
    height:40px;
    border-radius: 30px;
    border-style: solid;
    border-color: #b4b4ff;
    color:#b4b4ff;
}