.App {
    font-family: 'Noto Sans KR';
}

.myInfo {
    background-color:#D2D2D2;
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin:10px;
    height:200px;
}

.category {
    display:grid;
    grid-template-columns : 1fr 1fr;
}

.item {
    background-color:#D2D2D2;
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin:10px;
    height:200px;
}

/*mobile*/
@media (max-width:600px){
    .category{
        grid-template-columns : 1fr;
    }

    .item {
        height:100px;
    }
}