.App {
    padding-bottom:5vh;
}

.grid {
    display:grid;
    grid-template-columns: 1fr;
    height:65vh;
}

.item {
    background-color:#D2D2D2;
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin:10px;
}